<html>
	<head>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	</head>
	<body>
		<div class="container">
			{% if site == "demo" %}
				<h2>Site Details - Demo Site</h2>
			{% endif %}
			{% if site == "abc" %}
				<h2>Site Details - ABC Site</h2>
			{% endif %}
			{% if site == "xyz" %}
				<h2>Site Details - XYZ Site</h2>
			{% endif %}
			<table class="table table-striped"> 
				<thead>
					<tr>
						<th>Date</th>
						<th>A Value</th>
						<th>B Value</th>
					</tr>
				</thead>
				<tbody>
					{% for entry in list_ob %}
						<tr>
							<td>{{entry.entry_date}}</td>
							<td>{{entry.a_value}}</td>
							<td>{{entry.b_value}}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</body>
</html>